/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
    background: #F1F3FA;
}

h4.page-header {
    margin-top: 0;
}

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

.stats-content {
    padding: 20px;
    background: #fff;
    height: 100px;
}

.profile-content, .stats-content {
    margin-bottom: 10px;
}

.tasks {
    background: #edeff2;
    padding: 15px 5px 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tasks .header {
    padding: 7px 10px 22px;
}

.tasks .header .count {
    font-size: 12px;
    font-family: "Tahoma";
    color: rgb( 134, 145, 155 );
    font-weight: bold;
}

#add_task_points_result {
    display: inline-block;
    margin-left: 10px;
}

.tasks .tasks_empty {
    background: #FFF;
    margin-bottom: 7px;
    border-bottom: solid 1px #d6dadf;
    border-radius: 6px;
    font-size: 12px;
    padding: 30px 0;
    text-align: center;
}

.tasks .task {
    background: #fff;
    margin-bottom: 7px;
    border-bottom: solid 1px #d6dadf;
    border-radius: 6px;
    font-size: 12px;
    padding: 8px;
    min-height: 34px;
}
.tasks .task .image {
    height: 34px;
    width: 34px;
    border-radius: 4px;
    overflow: hidden;
    background: #f0f2f5;
    margin: 0 12px 0 0;
    float: left;
}

.tasks .task .title {
    width: 245px;
    height: 34px;
    margin: 0;
    line-height: 34px;
    color: rgb( 43, 47, 51 );
    float: left;
}

.tasks .task .count {
    width: 100px;
    text-align: center;
    height: 34px;
    line-height: 34px;
    margin: 0;
    float: left;
}

.tasks .task .amount {
    color: rgb( 74, 112, 153 );
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin: 5px 0 0 17px;
    background: #f0f2f5;
    border-radius: 2px;
    padding: 0 12px;
    float: left;
}

.tasks .task .actions {
    margin: 0;
    float: right;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.task_error {
    margin-bottom: 10px;
}

.error_msg {
    background: #FFEFE8;
    border: 1px solid #E89B88;
    line-height: 1;
    height: 44px;
    padding: 16px 20px;
    font-size: 12px;
    border-radius: 4px;
}